{
    "extends": "airbnb/base",
    "env": {
        "browser": true,
        "protractor": true,
    },
    "globals": {
        "_": true,
        "angular": true,
    },
    "rules": {
        "indent": ["error", 4],
        "max-len": ["error", { "code": 150 }],
        "no-use-before-define": ["error", "nofunc"],
        "no-shadow": ["off"],
        "prefer-const": ["off"],
        "template-curly-spacing": ["error", "always"],
    }
}
